:root{
    font-size: 62.5%;
}


body{
    background: #f5d9d5;
    font-family: "nunito", sans-serif;
}

section{
    /* background-color: cadetblue; */
    margin-top: 100px;
}

section:first-of-type{
    margin-top: 0;
}

h2{
    margin-bottom: 30px;
}

/* NAVBAR */
#mainNavbar{
    font-size: 2.4rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: white;
}

#mainNavbar .nav-link:hover{
    color: #ea1c2c;
}

#mainNavbar .navbar-brand{
    color: #ea1c2c;
    font-size: 2.4rem;
}

.navbar.scrolled{
    background-color: cornflowerblue;
    transition:  400ms;
}

/* Home */



#headingGroup span{
    color: #ea1c2c;
}

#headingGroup h2{
    font-weight: 400;
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 5px;
}

@media (max-width:1100px) {
    #headingGroup h2{
        font-size: 3em;
    }
}

/* About */

#About h2{
    color: #ea1c2c;
    font-size: 3em;
}

#About p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.5em;
    line-height: 2;
}

/* Tickets */

#Tickets h2{
    font-size: 4em;
    color:rgb(231, 207, 222);
    text-transform: uppercase;
    background-color: dodgerblue;
    border-radius: 0.2em;
}

#Tickets p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.5em;
    line-height: 2;
}

#Contact h2{
    color: #ea1c2c;
    font-size: 3em;
}

#Contact p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.5em;
    line-height: 2;
}